<section class="hero-body home">
<div class="meddium-spacer"></div>
    <div class="container has-text-centered">
        <div class="columns is-centered">
            <h1 class="title">Smile Boardとは...</h1>
            <p></p>
        </div>
    </div>
    
</section>
<div class="hero-foot my-color">
    <nav class="tabs is-fullwidth">
      <div class="container">
        <ul>
          <li class="is-active"><%= link_to 'Smile Boardとは', "/about" %></li>
          <li><a href="/about">投稿一覧</a></li>
          <li><a>smiler</a></li>
          <li><a>使い方</a></li>
        </ul>
      </div>
    </nav>
  </div>